
#conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
}
#lixeiras{
    width: 100%;
    opacity: 20%;
    position: absolute  ;

}
#retangulo-formulário{
    width:27% ;
    height: 500px;
    background-color:green ;
    position: relative;
    display: flex;

}
#email{
margin-top: 20%;
margin-left: 25%;
}
#senha{
    margin-top: 20%;
    margin-left: 25%    ;

}
#submit{
    margin-top: 20%;
    margin-left: 40%;

}
