
#conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
}
#lixeiras{
    width: 100%;
    opacity: 20%;
    position: absolute  ;

}
#retangulo-formulário{
    width:27% ;
    height: 500px;
    background-color:green ;
    position: relative;
    display: flex;
margin-top: 7%;
}

#email{
margin-top: 20%;
margin-left: 15%;
height: 7%;
width: 65%;
}
#senha{
    margin-top: 20%;
    margin-left: 15%    ;
    height: 7%;
    width: 65%;

}
#submit{
    margin-top: 40%;
    margin-left: 15%;
    height: 7%;
    width: 65%;
    background-color: #A8E6C3;
    border: none;
    border-radius: 14px;
}
