
*{
    margin: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#conteiner{
    display: flex;
    justify-content: center;
    gap: 200px;
    align-items: center;
}
span{
  margin-left: 5px;
  font-size: 20px;
}
header {
  background-color:green;
  padding: 10px 20px;
  width: 98.7%;
  height: 17px;
  position: relative;
  z-index: 10;
} 
#reciclagem{
  width: 20px;
  margin-left: 30px;

}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu .item {
  display:block;
  align-items: center;
  margin-right: 60px;
  text-decoration: none;
  color: white;

}
.menu .item img {
  width: 20px;
  height: 20px;
  margin-right: 6px;
  margin-top: -50px;

}
.menu .item .inicio{
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.textos {
  display: flex;
  align-items: center;
  width: auto ;
  margin-left: 595px;  
}
.menu .text1{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap:30px;
}
.menu .text2{
    text-decoration: none;
    color: white;  
    margin-right: -800px;
}
#lixeiras{
    width: 100%;
    height: 59rem;
   opacity: 75%;
    position: absolute;
   
}
#retangulo-formulário{
    height: 35rem;
    width: 430px;
    background-color:#ffffff;
    position: relative;
    margin-top: 10rem;
    text-align: center;
   border-radius: 20px;
  
}

#email{
height: 3em;
width: 65%;
margin-top: 12%;
 border-radius: 10px;
border: 1px solid;
background-color: rgb(255, 255, 255);
}
#senha{
   height:3em;
    width: 65%;
    margin-top:30%;
    border-radius: 10px;
    border: 1px solid;
    margin-top: 50px;
}
#senha3{
  height:3em;
    width: 65%;
    margin-top:30%;
    border-radius: 10px;
    border: 1px solid;
    margin-top: 50px;
}
#submit{
    margin-top: 20%;
    height: 40px;
    width: 65%;
    background-color:#02be12;
    border:1px solid black;
    border-radius: 14px;
    transition: 0.3s;
}
#submit:hover{
    opacity: 0.6;
}
#titulo{

    color: rgb(0, 0, 0);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}
#retangulo-formulário2{
    height: 35rem;
    background-color:#ffffff;
    position: relative;
    margin-top: 10rem;
    text-align: center;
   align-items: center;
   justify-content: center;
   border-radius: 20px;
  
}

#email2{
height: 3em;
width: 65%;
margin-top: 20%;
 border-radius: 10px;
border: 1px solid;
background-color: rgb(255, 255, 255);
}
#senha2{
   height:3em;
    width: 65%;
    margin-top:30%;
    border-radius: 10px;
    border: 1px solid;

}

#submit2{
    margin-top: 20%;
    height: 40px;
    width: 65%;
    background-color:#02be12;
    border:1px solid black;
    border-radius: 14px;
    transition: 0.3s;
}
#submit2:hover{
    opacity: 0.6;
}
#titulo2{

    color: rgb(0, 0, 0);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}


