*{
    margin: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: #ffffff;
}
span{
  margin-left: 5px;
  font-size: 20px;
}
header {
  background-color:green;
  padding: 10px 20px;
  width: 97.67%;
  height: 25px;
  margin-top: -8px;
  margin-left: -8px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu .item {
  display:block;
  align-items: center;
  margin-right: 60px;
  text-decoration: none;
  color: white;

}
.menu .item img {
  width: 20px;
  height: 20px;
  margin-right: 6px;
  margin-top: 3px;

}
.menu .item .inicio{
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.textos {
  display: flex;
  align-items: center;
  width: auto ;
  margin-left: 595px;  
}
.menu .text1{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap:30px;
}
.menu .text2{
    text-decoration: none;
    color: white;  
    margin-right: -800px;
}
#botao{
    height: 27px;
    margin-left: 55px;
    margin-top: 20px;
    border-radius: 15px;
    width: 130px;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    background-color: green;
    color: white;
}
#prin{
    background-color: #69da69;
    height: 540px;
    padding-top: 2%;
    margin-left: -20px;
    width: 31%;
}
#ache{
    margin-left: 30px;
    font-size: 50px;
    margin-bottom: 5px;
    margin-top: 50px;
}
#loc{
    margin-left: 30px;
    font-size: 15px;
    margin-right: 50px;
    color: rgb(61, 60, 60);
}
#endereco{
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 30px;
    width: 80%;
    height: 25px;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    outline: none
}
#end{
    height: 40px;
    margin-left: 95px;
    margin-top: 20px;
    border-radius: 20px;
    width: 180px;
    border: none;
    background-color: green;
    color: white;
    transform: 0.3s;
}
#end:hover{
    opacity: 0.6;
}
footer{
    background-color: green;
    height: 21px;
    width: 1386px;
    color: white;
    margin-left: -20px;
    
}
h6{
    font-size: 15px;
    margin-left: 10px;
}
#map{ 
    height: 567px; 
    width: 71%;
    float: right;
    margin-right: 1px;
}
.instagram{
    width: 15px;
    float: right;
    margin-top: -15px;
    margin-right: 75px;
}
#insta{
    float: right;
    margin-top: -16px;
    font-size: 15px;
    margin-right: 10px;
    color: white;
}
.watsa{
    width: 20px;
    margin-top: -17px;
    float: right;
    margin-right: 150px;
}
#wats{
    float: right;
    margin-top: -15px;
    font-size: 15px;
    color: white;
}
#addlixeira{
    height: 40px;
    margin-left: 95px;
    margin-top: 20px;
    border-radius: 20px;
    width: 180px;
    border: none;
    background-color: green;
    color: white;
    transform: 0.3s;
}
#addlixeira:hover{
    opacity: 0.6;
}
img.item {
    height: 20px;
}
