*{
    margin: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: #d5f5e3;
}
#prin{
    background-color: #69da69;
    height: 300px;
    padding-top: 25px;
    width: 30%;
    margin-top: 50px;
}
#ache{
    margin-left: 30px;
    margin-bottom: 5px;
}
#loc{
    margin-left: 30px;
    margin-right: 10px;
    color: rgb(61, 60, 60);
}
#end{
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 30px;
    width: 70%;
    height: 20px;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    outline: none
}
#endereco{
    height: 27px;
    margin-left: 55px;
    margin-top: 20px;
    border-radius: 15px;
    width: 130px;
    border: none;
    background-color: green;
    color: white;
    transform: 0.3s;
}
#endereco:hover{
    opacity: 0.6;
}
footer{
    background-color: green;
    height: 15px;
    color: white;
}
h6{
    margin-left: 10px;
}
#map{ 
    height: 325px; 
    width: 70%;
    float: right;
}
.instagram{
    width: 10px;
    float: right;
    margin-top: -10px;
    margin-right: 53px;
}
#insta{
    float: right;
    margin-top: -11px;
    font-size: 10px;
    margin-right: 8px;
    color: white;
}
.watsa{
    width: 14px;
    margin-top: -12px;
    float: right;
    margin-right: 90px;
}
#wats{
    float: right;
    margin-top: -11px;
    font-size: 10px;
    margin-right: -82px;
    color: white;
}