*{
    margin: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: #d5f5e3;
}
#prin{
    background-color: #69da69;
    height: 489px;
    padding-top: 2%;
    width: 30%;
    margin-top: 3.9%;
}
#ache{
    margin-left: 30px;
    font-size: 50px;
    margin-bottom: 5px;
    margin-top: 50px;
}
#loc{
    margin-left: 30px;
    font-size: 15px;
    margin-right: 50px;
    color: rgb(61, 60, 60);
}
#endereco{
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 30px;
    width: 80%;
    height: 25px;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    outline: none
}
#end{
    height: 40px;
    margin-left: 95px;
    margin-top: 20px;
    border-radius: 20px;
    width: 180px;
    border: none;
    background-color: green;
    color: white;
    transform: 0.3s;
}
#end:hover{
    opacity: 0.6;
}
footer{
    background-color: green;
    height: 21px;
    color: white;
}
h6{
    font-size: 15px;
    margin-left: 10px;
}
#map{ 
    height: 514px; 
    width: 70%;
    float: right;
}
.instagram{
    width: 15px;
    float: right;
    margin-top: -15px;
    margin-right: 75px;
}
#insta{
    float: right;
    margin-top: -16px;
    font-size: 15px;
    margin-right: 10px;
    color: white;
}
.watsa{
    width: 20px;
    margin-top: -17px;
    float: right;
    margin-right: 140px;
}
#wats{
    float: right;
    margin-top: -15px;
    font-size: 15px;
    color: white;
}