*{
    background-color: #53AF61;
}
h1{
    margin-left: 20px;
    font-size: 50px;
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.accordion {
  background-color: #eee;   
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 450px;
  height: 100px;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-top: 10px;
}

button{
    margin-left: 20px;
    font-size: 25px;
    line-height: 3;
    height: auto;
    width: 150px;
    background-color: whitesmoke;
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 15px;
}

aside{
    width: 545px;
    height: 436px;
    background-color: whitesmoke;
    display: block;
    float: right;
    margin-bottom: -120px;
    margin-right: 20px;
}
#aside{
    width: 400px;
    height: 300px;
    background-color: rgb(196, 196, 196);    
    margin-left: 50px;
    margin-top: 50px;
    font-size: 50px;
    padding-left: 50px;
    padding-top: 20px;
    line-height: 3;
}
input{
    margin-left: 20px;
    width: 300px;
    height: 50px;
    background-color: whitesmoke ;
    font-size: 25px;
}
div img{
    height: 20px;
    margin-left: 320px;
    margin-bottom: 500px;
    margin-top: -50px;
    width: 20px;    
    background-color: rgb(196, 196, 196);
    float: left;
    display: block;
}
h3{
    background-color:rgb(196, 196, 196);
    font-size: 30px;
    margin-left: 15px;
    line-height: 1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}   
img{
    height: 30px;
}

.faq-container {
    margin-left: 20px;
    width: 450px; /* Largura padrão para as caixas de pergunta */
    float: left; /* Para o aside ficar ao lado */
    margin-top: 50px; /* Espaçamento do h1 */
}

/* Container de cada item FAQ (pergunta + resposta) */
.faq-item {
    margin-bottom: 10px; /* Espaçamento entre os itens */
    border-radius: 5px;
    overflow: hidden; /* Garante que a borda do painel fique dentro */
}

/* Estilo do botão de pergunta (o accordion) */
.accordion {
  background-color: whitesmoke; /* Usei whitesmoke como no seu CSS anterior */   
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%; /* Ocupa toda a largura do faq-container */
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 15px;
}

.accordion:hover {
  background-color: #ccc; 
}
.accordion.active {
    background-color: #ccc;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out; 
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-left: 20px;
}

.panel p {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    font-size: 18px;
    color: #444;
}